body {
	background: #232323;
	margin: 0;
	font-family: Avenir, Montserrat, serif;
}

h1 {
	color: white;
	text-align: center;
	line-height: 1.1;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

span {
	color: white;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

#colorDisplay {
	font-size: 200%;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

#stripe {
	height: 30px;
	background: white;
	text-align: center;
}

#message {
	display: inline-block;
	width: 20%;
	color: black;
}

.selected {
	color: white;
	background: steelblue;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	background: steelblue;
	color: white;
}
